# URL del Web App de Google Apps Script (Reemplazar con la URL generada en Implementar -> Nueva implementación)
VITE_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/TU_SCRIPT_ID_AQUI/exec

# PIN Maestro para acceder al panel secreto de SuperAdmin (Atajo: Ctrl + Shift + S o 5 clics en logo)
VITE_SUPERADMIN_PIN=9891
